{% extends 'base.html.twig' %}

{% block title %}Workexperience{% endblock %}

{% block body %}
    <h1>Workexperience</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workexperience.id }}</td>
            </tr>
            <tr>
                <th>Empresa</th>
                <td>{{ workexperience.empresa }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ workexperience.cargo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ workexperience.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_workexperience_index') }}">back to list</a>

    <a href="{{ path('app_workexperience_edit', {'id': workexperience.id}) }}">edit</a>

    {{ include('workexperience/_delete_form.html.twig') }}
{% endblock %}
